@use "../abstracts" as *;


// ABoutMe Section
.AboutMe-container {
    padding: 0px 0px;
}
// Hex Section
.hex-container {
    margin-bottom: 30px;
    position: relative;
    margin-left: 33%;
    height: 100px;
}

.hex-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    width: 100%;
    height: auto;
}


.hex {
    width: 100px;
    height: 57px;
    background: $Primary-Color;
    position: absolute;
    margin-bottom: 40px;
    img {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20%;
        left: 30%;
    }
}
.hex::before {
    content: "";
    position: absolute;
    top: -28px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28px solid $Primary-Color;
}
.hex::after {
    content: "";
    position: absolute;
    bottom: -28px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28px solid $Primary-Color;
}
.hex-hidden{
    width: 100px;
    height: 57px;
    background: $NeonGreen;
    position: absolute;
    display: none;
    margin-bottom: 40px;
    img {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20%;
        left: 30%;
    }
    .hex-hidden-name {
        color: $Primary-Color;
        text-align: center;
    }
}
.hex-hidden::before {
    content: "";
    position: absolute;
    top: -28px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28px solid $NeonGreen;
}
.hex-hidden::after {
    content: "";
    position: absolute;
    bottom: -28px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28px solid $NeonGreen;
}

.hex-container:hover {
    .hex::after {
        border-top: 27.8675px solid $White;
    }
    .hex::before {
        border-bottom: 27.8675px solid $White;
    }
    .hex-hidden{
        width: 100px;
        height: 57px;
        background: $NeonGreen;
        position: absolute;
        display: block;
        margin-bottom: 40px;
        img {
            width: 40px;
            height: 40px;
            position: absolute;
            top: 20%;
            left: 30%;
        }
    }
}



// Qualifications/Language

.qualifications {
    h3 {
        text-align: center;
    }
    .qual-lists {
        display: flex;
        flex-direction: column;
        ul {
            list-style: none;
            margin-left: 0px;
            padding: 0px 20px;
            text-align: center;
            li {
                margin-bottom: 5px;
            }
        }
    }
}

.technical-skills {
    h3 {
        text-align: center;
    }
    .programming-languages,
    .frameworks {
        padding: 0px 20px 20px;
        h4 {
            text-align: center;
        }
        ul {
            list-style: none;
            padding-left: 0px;
            li {
                margin-bottom: 5px;
            }
        }
    }

}

.tech-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
}




// Media
@media (min-width:350px) {
    .hex-images {
        flex-direction: row;
    }
    #hex-1 {
        margin-left: -90px;
    }

    #hex-2,
    #hex-3 {

    }

}

@media (min-width:350px) {
    .tech-lists,
    .qualifications .qual-lists {
        justify-content: space-around;
        flex-direction: row;
    }
}

@media (min-width:1200px) {
    .AboutMe-container {
        padding: 0px 20px;
    }
}
