@use "../abstracts" as *;

.block-con {
    margin-top: 20px;
}


.block-heading-and-arrow {
    display: block;
    h6 {
        display: inline-block;
        margin: 0px;
    }
    span {
        display: inline-block;
        vertical-align: sub;
    }
}

.image-con {
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    border: none;
    border-radius: 5px;
    .project-images {
        transform: scale(1);
        transition: transform .4s ease;
        display: block;
        height: 200px;
    }
    .project-heading {
        display: block;
        position: absolute;
        text-decoration: none;
        color: $White;
        left: -255px;
        margin-top: 10px;
        top: 10%;
        transform: translateX(0px);
        transition-duration: .4s;
        transition-timing-function: ease-in-out;
        // text-shadow: 7px 7px 10px $Black;
        text-shadow: 1px 1px 5px $Black;
        width: 45%;
        font-weight: bold;
    }

    //Coding Examples Card Languages
    .project-coding-languages {
        display: block;
        position: absolute;
        text-decoration: none;
        color: $White;
        right: -350px;
        bottom: 0px;
        transform: translateX(0px);
        transition-duration: .4s;
        transition-timing-function: ease-in-out;
        // text-shadow: 7px 7px 10px $Black;
        text-shadow: 1px 1px 5px $Black;
        width: 45%;
        font-weight: bold;
    }
    //Portfolio Card Description
    .project-coding-description {
        display: block;
        font-weight: bold;
        position: absolute;
        text-decoration: none;
        color: $White;
        right: -350px;
        bottom: 0px;
        transform: translateX(0px);
        transition-duration: .4s;
        transition-timing-function: ease-in-out;
        // text-shadow: 7px 7px 10px $Black;
        text-shadow: 1px 1px 5px $Black;
        width: 45%;
    }
}

.project-cap {
    color: $Black;
    h3 {
        margin-bottom: 0px;
        margin-top: 5px;
    }
}



.block-con a:hover {
    .project-cap {
        color: lighten($Black, $FiftyPercent);
        .block-heading-and-arrow span svg path {
            fill: lighten($Black, $FiftyPercent);
        }
    }
    .image-con {
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .project-heading {
            display: block;
            position: absolute;
            transform: translateX(260px);
            transition-duration: .4s;
            transition-timing-function: ease-in-out;
        }
        //Coding Examples Card Languages
        .project-coding-languages {
            display: block;
            position: absolute;
            transform: translateX(-350px);
            transition-duration: .4s;
            transition-timing-function: ease-in-out;
        }
        //Portfolio Card Description
        .project-coding-description {
            display: block;
            position: absolute;
            transform: translateX(-350px);
            transition-duration: .4s;
            transition-timing-function: ease-in-out;
        }
        .gradient{
            display: block;
            position: absolute;
            background-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,1));
            opacity: 0.3;
            height: 100%;
            width: 100%;
            top: 0%;
        }
        .project-images {
            transform: scale(1.1);
            transition: transform .4s ease;
        }
    }
}

.project-images {
    width: 100%;
    height: auto;
}

.TrioBlock {
    display: block;
}
// Media

@media (max-width:991px) {
    .image-con {
        height: auto;
    }
}
@media (min-width:992px) {
    .TrioBlock {
        display: flex;
    }
    .project-cap {
        text-align: center;
    }
    .block-con {
        width: 33.33%;
        display:inline-block;
        margin-left: 10px;
    }
    #first-block,
    #fourth-block {
        margin-left: 0px;
    }
}

@media (min-width:1200px) {
    .block-con {
        width: 33.33%;
        display:inline-block;
    }
}


@media (min-width: 750px) and (max-width:991px) {
    .image-con .project-coding-description {
        right: -430px;
    }
}

@media (min-width: 750px) and (max-width:991px) {
    .image-con .project-coding-languages {
        right: -430px;
    }
}


.blockimg {
    background-size: cover;
    background-repeat: no-repeat;
}
// portfolio examples
#blockimg1{
    background-image: url(../images/netmatters.jpg);
}
#blockimg2 {
    background-image: url(../images/axure.jpg);
}

//Coding examples
#codingblock1 {
    background-image: url(../images/codingExamples/example1/hex-body.jpg);
}
