@use "../abstracts" as *;

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: $font;
    margin: 0px;
    padding: 0px;
    letter-spacing: $letterspacing;
    font-size: $RootFontSize;
    background-color: $Secondary-Color;
    color: $Black;
    overflow-x: hidden;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

a {
    text-decoration: none;
}

.row {
    margin:20px 0px;
}

.container {
    margin-left: 20px;
    margin-right: 20px;
}

.body-container {
    transform: translateX(0px);
    transition: all .3s;
}


@media (min-width:992px) {

}

@media (min-width:1260px) {
}


.noScroll {
    overflow-y: hidden;
}
