@use "../abstracts" as *;

.contact-description {
    letter-spacing: 1px;
    display: inline-flex;
    flex-direction: column;
}

.contact-us {
    margin-right: 0;
    input {
        font-size: 1em;
        width: 100%;
        margin-bottom: 20px;
        border-radius: 3px;
        border: none;
        background-color: $LightSteelBlue;
        height: 30px;
        padding: 10px 10px;
    }
    button {
        height: 40px;
        font-size: 1em;
        font-weight: $fontweightbold;
        padding: 10px 10px;
        color: $Primary-Color;
        background-color: $White;
        border: 2px solid $Primary-Color;
        border-radius: 3px;
    }
}

.message-box {
    resize: both;
}



.scroll-up {
    text-align: center;
    bottom: 0%;
    left: 0%;
    width: 100%;
    font-size: $FontSizeSmallestDevice;
    a .up-arrow {
        display: block;
        margin-top: 10px;
    }
    a h3 {
        margin-top: 0px;
        color: $Black;
    }
}

#first-name,
#second-name {
    width:100%;
    margin-bottom: 20px;
}
.form-inputs {
    margin-right: 20px;
}

@media (min-width:567px) {
    #first-name,
    #second-name {
        width:40%;
    }
}

@media (min-width:1200px) {
    .form-inputs {
        margin-left: 20px;
        margin-right: 40px;
    }
    .contact-description {
        margin-left: 20px;
    }
}
