@use "../abstracts" as *;

.typed-cursor {
    font-weight: 600;
    font-size: 1.5em;
}

.background {
    display: block;
}
#banner-section {
    top: 0%;
}

.image-con-hero {
    position: relative;
    overflow:hidden;
}

#hero-image {
    height: 100vh;
}

.background-heading {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    height: auto;
    top: 40%;
    left: 0%;
    h1 {
        font-weight: $fontweightbold;
        margin: 0px;
        font-size: $H1FontSizeSmallestDevice;
        text-shadow: 7px 7px 10px $Black;
        background-color:rgba(0, 0, 0, 0.3);
        color: $White;
    }
    .the-box {
        display: flex;
        justify-content: center;
        background-color:rgba(0, 0, 0, 0.3);
        margin-top: 0px;
        font-weight: $fontweightskinny;
        font-size: $H3FontSizeSmallestDevice;
        text-shadow: 7px 7px 10px $Black;
        color: $White;
        h3 {
            margin: 0px;
        }
        .type2 {
            margin-left: 5px;
        }
    }

}
                            .H1Span {
                                font-size: $H3FontSizeSmallestDevice;
                            }

.scroll-down {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    h3 {
        margin-bottom: 10px;
        a {
            margin-bottom: 0px;
            color: $White;
            text-decoration: none;
            font-weight: $fontweightnormal;
            font-size: $FontSizeLargeDevice;
            text-shadow: 7px 7px 10px $Black;
        }
    }
    .down-arrow {
        display: block;
        margin-bottom: 10px;
    }
}

@media (min-width: 576px) {
    .background-heading {
        h1 {
            font-size: $H1FontSizeSmallDevice;
        }
        h3 {
            font-size: $H3FontSizeSmallDevice;
        }
    }
}

@media (min-width:768px) {
    .background-heading {
        h1 {
            font-size: $H1FontSizeMediumDevice;
        }
        h3 {
            font-size: $H3FontSizeMediumDevice;
        }
    }
}

@media (min-width:1200px) {
    .background-heading {
        h1 {
            font-size: $H1FontSizeLargeDevice;
        }
        h3 {
            font-weight: $fontweightskinny;
            font-size: $H3FontSizeLargeDevice;
        }
    }
}

@media (min-width:1417px) {
    #hero-image {
        width:100%;
    }
}
