@use "../abstracts" as *;

.hamburger{
    position: fixed;
    z-index: 1;
    top: 2%;
    left: 5%;
    transition: all .3s;
}

.hamburger button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: $White;
    border-radius: 3px;
    border: none;

    .sandwich-box {
        display: block;
        position: relative;
        height: 50px;
        .sandwich {
            display: block;
            position: absolute;
            width: 28px;
            height: 3px;
            background-color: $Primary-Color;
            top: calc(50% - (3px / 2));
            left: calc((50% - (28px / 2)));
            &::before{
                content: "";
                display: block;
                position: absolute;
                transform: translateY(8px);
                background-color: $Primary-Color;
                height: 3px;
                width: 28px;
                transition: all .2s;
            }
            &::after {
                content: "";
                display: block;
                position: absolute;
                transform: translateY(-8px);
                background-color: $Primary-Color;
                height: 3px;
                width: 28px;
                transition: all .2s;
            }
        }
        .beforeAnimate::before {
            transform-origin: center;
            transform: translateY(0px);
            transform: rotate(-45deg);
            transition: all .2s;
        }

        .innerAnimate {
            background-color: transparent;
            transition: all .2s;
        }

        .afterAnimate::after {
            transform-origin: center;
            transform: translateY(0px);
            transform: rotate(45deg);
            transition: all .2s;
        }
    }
}
.hamburger button:hover {
    background-color: $LightSteelBlue;
}

//Media


//Javascript

.moveBurgerBtnRight {
    left: 223px;
    transition: all .3s;
}
