@use "abstracts" as *;


.SCSScheme-container {
    .link-TT {
        width:95%;
        letter-spacing: 0;
    }
    p {
        letter-spacing: 0.1rem;
        font-size: $FontSizeSmallestDevice;
    }
    .container-title {
        font-size: $H1FontSizeSmallestDevice;
    }
    h3 {
        margin-bottom: 0px;
    }
    a{
        color: $Primary-Color;
        font-weight: $fontweightbold;
    }
    a:hover {
        color: $NeonGreen;
    }
}

@media (min-width:576px) {
    .SCSScheme-container {
    }
}


@media (min-width:768px) {
    .container-title {
        text-align: center;
    }
    .SCSScheme-container {
        p {
            font-size: $FontSizeSmallDevice;
        }
    }
}


@media (min-width:1200px) {
    .SCSScheme-container {
        padding: 0px 20px;
    }
}
