@use '../abstracts' as *;

#sidebar-menu {
    position: fixed;
    width: 200px;
    height: 100%;
    border-right: 3px solid $Primary-Color;
}

//Initials

.Initials {
    display: block;
    text-align: center;
    border-bottom: 3px solid $Primary-Color;
    padding: 20%;
    a {
        color: $Primary-Color;
        text-decoration: none;
    }
    .JB {
        font-size: 7em;
        font-weight: $fontweightbold;
        font-family: $font;
        text-decoration: none;
        span {
            color: $Primary-Color;
            vertical-align: middle;
            text-decoration: none;
            transition: color .5s ease-out;
        }
    }

}

.JB span:hover {
    vertical-align: middle;
    color: $NeonGreen;
}




//List

#sidebar-menu .list-compartment ul{
    padding-right: 40px;
    li {
        list-style-type: none;
        margin-bottom: 40px;
        margin-top: 40px;
        text-align: center;
        transform: scale(1);
        transform-origin: center;
        transition-duration: 0.2s;
        transition-timing-function: ease-out;
        a{
            text-decoration: none;
            color: $MainTextColor;
        }
        a:hover{
            text-decoration: none;
        }
    }
    li:hover {
        transform: scale(1.4);
        transform-origin: center;
        transition-duration: 0.2s;
        transition-timing-function: ease-in;
    }
}


//Socials
.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon-block-container {
    position: relative;
    display: block;
    height: 50px;
    width: 50px;
}

.icon-block {
    display: block;
    position: relative;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    background-color: $Primary-Color;
    text-align: center;
    overflow: hidden;
    transition: background-color 1s ease-in-out;
    .showing-icon{
        position: absolute;
        top: 17px;
        left: 17px;
        transform: translateY(0px);
        transition-duration: 1s;
    }
    .hidden-icon {
        position: absolute;
        top: -21px;
        left: 17px;
        transform: translateY(0px);
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
    }
}

#LinkedIn:hover {
    background-color: $LinkedInBlue;
    transition-duration: 1s;
    .hidden-icon {
        transform: translateY(38px);
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
    }
    .showing-icon {
        transform: translateY(100px);
        transition-duration: .5s;
    }
}

#Github:hover {
    background-color: $GithubGray;
    transition-duration: 1s;
    .hidden-icon {
        transform: translateY(38px);
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
    }
    .showing-icon {
        transform: translateY(100px);
        transition-duration: .5s;
    }
}


//Media

@media (max-width:767px) {
    #sidebar-menu {
        display: none;
    }
}

@media (min-width:992px) {
    #sidebar-menu {
        width: 300px;
    }
}
