//Black
$Black: #000000;



//Blue
$Blue: #13505B;
$LightSteelBlue: #B4CDED;
$LinkedInBlue: #0072b1;

//Gray
$GithubGray: #24292e;
$DarkGray: #2a2a2a;

//Green
$EagleGreen: #004953;

//Red

//Purple
$DarkPurple: #3a243b;

//White
$White: #FFFFFF;



$FiftyPercent: 50%;

$Primary-Color: $EagleGreen;
$Secondary-Color: $White;
$MainTextColor: $Black;
