
$font: arial;
$fontweightbold: 600;
$fontweightskinny: 300;
$letterspacing: .1rem;



//Font Sizes
$RootFontSize:16px;

//280px


//576px
$FontSizeSmallestDevice: 0.8125rem;
$H1FontSizeSmallestDevice: 1.5em;
$H3FontSizeSmallestDevice: 0.825em;

//767px
$FontSizeSmallDevice: 1rem;
$H1FontSizeSmallDevice: 2em;
$H3FontSizeSmallDevice: 1.725em;

//992px
$FontSizeMediumDevice: 1em;
$H1FontSizeMediumDevice: 2.5em;
$H3FontSizeMediumDevice: 1.725em;

//1260px
$FontSizeLargeDevice: 1em;
$H1FontSizeLargeDevice: 2.5em;
$H3FontSizeLargeDevice: 1.725em;
